@media screen and (min-width: 768px) {
	.container {
		background: blue;
	}
}
@media screen and (min-width: 1024px) {
	header {
		background-color: blue;
	}
}
@media screen and (min-width: 1600px) {
	header {
		background-color: blue;
	}
}
